body{
  background-color: #E7F6F2;
}
hr{
  background-color:#E7F6F2;
  border-style: none;
  border-top: dotted;
  border-width: 5px;
  border-color: grey;
  width: 10%;
}
img{
  height: 200px;
}
h1{
  color: #66BFBF;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
              1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
h3{
  color: #FF9F29;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
              1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
