body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #32E0C4;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #FEB139;
}
a{
  color: #47B5FF;
  font-family: 'Montserrat',cursive;
  font-weight: 500
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
background-color: #FCF8E8;
border-style: solid;
border-width: thin;
border-top: none;
border-bottom: none;
border-color: #61481C;
}

.bottom-container {
margin-top: 10px;
background-color: #E4F9F5;
border-color: black;
border-style: solid;
border-radius: 10px;
padding: 7px;
text-align: center;
}
.classy{
  font-family: 'Sacramento',cursive;
  font-weight: 800;
  font-size: 180%;
}
.pro {
  text-decoration: underline;
}
.Btech{
  text-decoration: underline;
  font-weight: 700;
  color: #393E46;
}
.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}
.Aniruddha{
  margin: 50px auto 0 auto;
  font-size: 565%;
  color: #6E85B7;
}
.programmer{
  font-family: monospace;
  font-size: 2.5rem;
  color: #6E85B7;
}
.rock{
  height: 250px;
  width: 250px;
}
.sonic{
  margin-top: 10px;
  height: 270px;
  width: 270px;
}
.coding{
  width:270px;
  height:270px;
}
